* {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

#third-paragraph {
	color:  yellow;
}


h1 {
	font-size: 40px;
}

#lessons {
	text-transform: uppercase;
}

.languages {
	background-color: lightgreen;
}

li[class="tools"] {
	border-width: 1px;
	border-style: solid;
	border-color: lightblue;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 100px;
	width: 100px;
	border-radius: 100px;
}

ul ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}